
@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareRoundOTFL.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareRoundOTFR.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareRoundOTFB.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareRoundOTFEB.otf') format('opentype');
    font-weight: 600;
}