@font-face {
    font-family: 'NotoSans';
    src: url('NotoSansKR-Thin.otf') format('opentype');
    font-weight: 100;
}
@font-face {
    font-family: 'NotoSans';
    src: url('NotoSansKR-Light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'NotoSans';
    src: url('NotoSansKR-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSans';
    src: url('NotoSansKR-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSans';
    src: url('NotoSansKR-Bold.otf') format('opentype');
    font-weight: 800;
}
@font-face {
    font-family: 'NotoSans';
    src: url('NotoSansKR-Black.otf') format('opentype');
    font-weight: 900;
}