#shop > .wrapper {
    flex-grow: 1;
    padding: 0 3rem;
}

#shop > .wrapper > header > .title {
    margin: 2rem 0;
}
#shop > .wrapper > header > .title > h1 {
    font-weight: 500;
    font-size: 2.0rem;
    letter-spacing: 2px;
}
#shop > .wrapper > header > .title > .sub { 
    margin-top: 0.5rem;
}
#shop > .wrapper > header > .title > .sub > p {
    
    font-weight: 300;
    font-size: 0.9rem;
}

/*      Loader     */
#shop > .wrapper > div.loader-frame {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#shop > .wrapper > div.loader-frame > .loader {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #888888;
    border-top: 2px solid #00000000;
}