#wrapper {
    min-height: 100%;
    height: 100%;
}
#wrapper > nav {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}
#wrapper > nav > .logo-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999;
    padding-top: 0.9rem;
    background: rgb(255,255,255, 0.9);
}
#wrapper > nav > .logo-frame > .logo {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #00966B;
    cursor: pointer;
}
#wrapper > nav > .logo-frame > .logo > i {
    font-size: 24px;
    color: #ffffff;
}
#wrapper > nav > .logo-frame > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
#wrapper > nav > .logo-frame:hover > ul, #wrapper > nav > .logo-frame.on > ul {
    height: 3rem;
}
#wrapper > nav > .logo-frame > ul > li {
    padding: 1rem 0;
    
    text-align: center;
    min-width: 10rem;
    max-width: 10rem;
}
#wrapper > nav > .logo-frame > ul > li > a {
    all: unset;
    cursor: pointer;
    text-align: center;
    color: #000000;
    opacity: 0;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
#wrapper > nav > .logo-frame:hover > ul > li > a, #wrapper > nav > .logo-frame.on > ul > li > a {
    opacity: 1;
}
#wrapper > nav > .logo-frame > ul > li > a:hover {
    color: #00966B;
}
#wrapper > nav > .blur-frame {
    height: 3.3rem;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff90",GradientType=1);
}
#wrapper > nav > .logo-frame > ul > li > a.active {
    color: #00966B;
}
#wrapper > div.menu-btn {
    display: none;
}
/*
    Main
*/
#wrapper > main.preview {
    padding-top: 10rem;
}
#wrapper > main {
    min-height: 100%;
}
/*
    footer
*/

#wrapper > footer {
    background: #00000080;
    padding: 3rem 20% 2rem 20%;
}
#wrapper > footer > ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
#wrapper > footer > ul > li {
    margin-right: 5rem;
    margin-bottom: 0.8rem;
    color: #ffffff;
}
#wrapper > footer > ul > li:last-child {
    margin: 0;
    margin-right: 0;
}
#wrapper > footer > ul > li > h3 {
    margin-bottom: 0.3rem;
    font-size: 1.0rem;
}
#wrapper > footer > ul > li > div {
    display: flex;
    align-items: center;
}
#wrapper > footer > ul > li > div > a {
    all: unset;
    display: block;
    cursor: pointer;
    color: #ffffff90;
    font-size: 0.85rem;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}
#wrapper > footer > ul > li > div > a:first-child {
    border: none;
    padding-left: 0;
}
#wrapper > footer > address {
    color: #ffffff; 
}
#wrapper > footer > address > strong {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
#wrapper > footer > address > ul > li {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}
#wrapper > footer > address > ul > li > p {
    margin-right: 1rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: #ffffff90;
}
#wrapper > footer > div {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#wrapper > footer > div > p, #wrapper > footer > div a {
    font-size: 0.9rem;
    color: #ffffff90;
}
#wrapper > footer > div > ul {
    display: flex;
    align-items: center;
    
}
#wrapper > footer > div > ul > li {
    cursor: pointer;
    margin-left: 2rem;
}
#wrapper > footer a:hover {
    text-decoration: underline;
}
/*
    Phone
*/
@media (max-width: 767px) {
    #wrapper > nav > .logo-frame > .logo {
        width: 3.2rem;
        height: 3.2rem;
        margin-top: 1rem;
    }
    #wrapper > nav > .logo-frame > .logo > i {
        font-size: 2.0rem;
    }
    #wrapper > nav > .logo-frame > ul {
        margin-top: 1rem;
        flex-direction: column;
    }
    #wrapper > nav > .logo-frame > ul {
        height: 0px;
    }
    #wrapper > nav > .logo-frame:hover > ul, #wrapper > nav > .logo-frame.on > ul {
        height: auto;
    }
    #wrapper > nav > .logo-frame > ul > li > a {
        font-size: 1.5rem;
        font-weight: 700;
    }
    #wrapper > div.menu-btn {
        display: block;
        position: fixed;
        top: 1.5rem;
        right: 0.5rem;
        padding: 1rem;
        z-index: 999;
    }
}