#wrapper > nav {
    width: 100%;
    position: fixed;
    top: 0;
}
#wrapper > nav > .logo-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999;
    height: 3.2rem;
    padding-top: 0.7rem;
    background: rgb(255,255,255, 0.9);
}
#wrapper > nav > .logo-frame > .logo {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #00966B;
    cursor: pointer;
}
#wrapper > nav > .logo-frame > .logo > i {
    font-size: 1.5rem;
    color: #ffffff;
}
#wrapper > nav > .blur-frame {
    height: 3.3rem;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff90",GradientType=1);
}
/*
    Main
*/
#wrapper > main {
    
    overflow-y: auto;
}
#wrapper > main.preview {
    padding-top: 10rem;
}

/*
    footer
*/

#wrapper > footer {
    background: #00000080;
    padding: 3rem 15%;
}
#wrapper > footer > address {
    color: #ffffff; 
}
#wrapper > footer > address > strong {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
#wrapper > footer > address > ul > li {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}
#wrapper > footer > address > ul > li > p {
    margin-right: 1rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: #ffffff90;
}