#wrapper > main.preview {
    padding-top: 10rem;
    overflow-y: auto;
}
#wrapper > main.preview > section.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wrapper > main.preview > section.main > div.main-title {
    text-align: center;
}
#wrapper > main.preview > section.main > div.main-title > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
#wrapper > main.preview > section.main > div.main-title > div > h1 {
    font-size: 4.3rem;
    font-weight: 700;
}
#wrapper > main.preview > section.main > div.main-title > div > h1:first-child {
    margin-right: 1rem;
}
#wrapper > main.preview > section.main > div.main-title > p {
    font-size: 1.3rem;
    color: #555555;
    font-weight: 400;
}
#wrapper > main.preview > section.main > img {
    margin-top: 6rem;
    width: 40rem;   
}