article#product > .side-tap {
    overflow-y: auto;
    overflow-x: unset;
    width: 20rem;
}
article#product > .side-tap > div#title {
    padding: 1.4rem;
}
article#product > .side-tap > div#title > h1 {
    font-size: 1.7rem;
    font-weight: 500;
}
article#product > .side-tap > div.list-frame {
    margin: 0 1rem;
    margin-bottom: 1.5rem;
}
article#product > .side-tap > div.list-frame > h1 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
article#product > .side-tap > div.list-frame > ul > li {
    margin-bottom: 0.15rem;
}
article#product > .side-tap > div.list-frame > ul > li > a {
    display: flex;
    align-items: center;
    height: 2.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}
article#product > .side-tap > div.list-frame > ul > li > a.active {
    padding: 0 0.5rem;
    background: #00966B30;
}
article#product > .side-tap > div.list-frame > ul > li > a > div {
    width: 2.5rem;
    display: flex;
}   
article#product > .side-tap > div.list-frame > ul > li > a > i {
    width: 2.0rem;
    font-size: 1.4rem;
    color: #00966B;
    text-align: left;
}
article#product > .side-tap > div.list-frame > ul > li > a > p {
    font-size: 0.95rem;
    font-weight: 400;
    color: #00000080;
}
article#product > .side-tap > div.list-frame > ul > li > a.active > p {
    color: #000000;
}
article#product > .main-tap > header {
    padding: 1.4rem 2.0rem 0.3rem 2.0rem;
}
article#product > .main-tap > header > h1 {
    padding-bottom: 0.7rem;
    font-size: 1.7rem;
    font-weight: 500;
}
/*
    serach tap frame all common
*/
article#product > .main-tap {
    background: #f7f9fc;
}
article#product > .main-tap .search-frame {
    display: flex;
    align-items: center;
    border: 2px solid #88888820;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
}
article#product > .main-tap .search-frame > i {
    font-size: 1.6rem;
    opacity: 0.8;
}
article#product > .main-tap .search-frame > input {
    all: unset;
    cursor: auto;
    margin: 0 0.5rem;
    padding-top: 0.1rem;
    flex-grow: 1;
}

/*
    article
*/
article#product > .main-tap > article {
    padding: 0 2.0rem;
}
article#product > #search > article > h4 {
    font-size: 0.9rem;
    color: #00000080;
    font-weight: 400;
    margin-bottom: 3px;
    text-align: center;
}


article#product > .main-tap > article.list-frame .element {
    overflow-x: hidden;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}
article#product > .main-tap > article.list-frame .element:nth-child(2n-1) {
    background: #88888830;
}
article#product > .main-tap > article.list-frame .element > h1 {
    font-size: 1.2rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;    
}
article#product > .main-tap > article.list-frame .element > div p {
    color: #00000080;
    font-size: 0.8rem;
    font-weight: 500;
}
article#product > .main-tap > article.list-frame .element > div {
    display: flex;
    align-items: center;
}
article#product > .main-tap > article.list-frame .element > div > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
article#product > .main-tap > article.list-frame .element > div > div > p {
    margin-right: 3px;
}
article#product > .main-tap > article.list-frame > #more {
    margin-top: 0.6rem;
    text-align: center;
}
article#product > .main-tap > article.list-frame > #more > button {
    all: unset;
    cursor: pointer;
    color: #00966B;
    font-weight: 500;
}
article#product > .main-tap > article.list-frame > #loader-frame {
    margin: 0 auto;
    width: 2rem;
}
article#product > .main-tap > article.list-frame > #loader-frame > .loader {
    margin: 0 auto;
    text-align: center;
    border: 1.5px solid #000000;
    border-bottom-color: #00000000;
    width: 1.2rem;
    height: 1.2rem;
}