
/*
    Reservation Page
*/
main.reservation {
    padding-top: 3rem;
    min-height: 100%;
}
main.reservation > section.top {
    display: flex;
    align-items: center;
    justify-content: center;
}
main.reservation > section > .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8rem;
}


main.reservation > section > .left > .main-title > h1 {
    font-size: 3.8rem;
    font-weight: 700;
    white-space: nowrap;
}

main.reservation > section > .right {
    text-align: center; 
}
main.reservation > section > .right > img {
    min-width: 70%;
    width: 40rem;
    padding-top: 3rem;
}
main.reservation ul.info-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.75rem;
}
main.reservation ul.info-input > li {
    padding: 0.8rem 1.0rem;
    margin-bottom: 0.5rem;
    border-radius: 0.6rem;
    background: #f0f0f0;
}
main.reservation ul.info-input > li p {
    font-size: 0.9rem;
    font-weight: 500;
}
main.reservation ul.info-input > li input {
    all: unset;
    width: 27rem;
    padding: 0.5rem 0 0.1rem 0;
    border-bottom: 1px solid #a8a8a8;
    cursor: auto;
}
main.reservation ul.checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}
main.reservation ul.checklist > li {
    margin-bottom: 0.3rem;
}
main.reservation ul.checklist > li > label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
main.reservation ul.checklist > li > label > i {
    margin-right: 1rem;
    font-size: 1.3rem;
    padding: 0.1rem;
    color: #000000;
    border-radius: 50%;
    opacity: 0.3;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}
main.reservation ul.checklist > li > label > p {
    white-space: nowrap;
    width: 15rem;
    opacity: 0.5;
    font-weight: 500;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}
main.reservation ul.checklist > li > label > a {
    all: unset;
    cursor: pointer;
    color: #00000090;
    position: relative;
    text-decoration: underline;
    font-size: 0.9rem;
}
main.reservation ul.checklist > li > label > input[type='checkbox'] {
    display: none;
}
main.reservation ul.checklist > li > label.check > i {
    color: #ffffff;
    background-color: #00966B;
    opacity: 1.0;
}
main.reservation ul.checklist > li > label.check > p {
    opacity: 1.0;
}
main.reservation button {
    all: unset;
    background: #00966B;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 29rem;
    padding: 0.5rem 0;
    margin-top: 0.85rem;
    font-weight: 400;
    border-radius: 6px;
}
main.reservation button.abled {
    opacity: 1;
}
main.reservation > section.top > .left > h4 {
    color: #ff0000;
    font-weight: 400;
    margin-top: 2px;
    visibility: hidden;
}
main.reservation > section.top > .left > h4.active {
    visibility: visible;
}
main.reservation > section.top > .left > a {
    cursor: pointer;
    color: #06c;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
main.reservation > section.top > .left > a > p {
    position: relative;
    top: 1px;
}
main.reservation > section.top > .left > a:hover > p {
    text-decoration: underline;
}
@media (max-width: 767px) {
    main.reservation {
        padding-top: 8rem;
    }
    main.reservation > section > .left > .main-title {
        text-align: center;
    }
    main.reservation > section > .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 8rem;
    }
    main.reservation > section > .left > .main-title > h1 {
        white-space: pre-wrap;
        word-break: keep-all;
        font-size: 3.5rem;
        padding: 0 4rem;
    }
    main.reservation > section > .right {
        display: none;
    }
    main.reservation ul.info-input {
        width: 90%;
        align-items: center;
    }
    main.reservation ul.info-input > li {
        width: 100%;
        padding: 1rem 1.2rem;
    }
    main.reservation ul.info-input > li > label > p {
        font-size: 1.2rem;
    }
    main.reservation ul.info-input > li > label > input {
        width: 100%;
        font-size: 1.4rem;
    }
    main.reservation ul.checklist {
        width: 90%;
    }
    main.reservation ul.checklist > li > label > i {
        font-size: 2.0rem;
    }
    main.reservation ul.checklist > li > label > p {
        width: auto;
        padding-right: 2rem;
        font-size: 1.4rem;
    }
    main.reservation button { 
        width: 90%;
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    main.reservation > section.top > .left > a > p {
        font-size: 1.5rem;
    }
    main.reservation > section.top > .left > h4 {
        font-size: 1.2rem;
    }
    /*
        Card
    */
    section.reserve-card .title-frame {
        padding: 0 2rem;
        text-align: center;
    }
    section.reserve-card .title-frame > h2 {
        font-size: 1.9rem;
    }
    section.reserve-card .text-frame {
        padding: 0 2rem;
        text-align: center;
    }
}