article.terms {
    text-align: center;
}
article.terms > header {
    padding-top: 2.0rem;
}
article.terms > header > h1 {
    font-size: 3.4rem;
    font-weight: 700;
}
article.terms > header > div {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7em;
    
}
article.terms > header > div > .logo {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00966B;
    border-radius: 8px;
    cursor: pointer;
}
article.terms > header > div > .logo > i {
    color: #ffffff;
}

article.terms > main {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
article.terms > main > div > div {
    text-align: left;
}
article.terms > main > div > div > h2 {
    margin-bottom: 0.5rem;
}
article.terms > main > div > div p {
    word-break: keep-all;
    line-height: 1.8rem;
    font-size: 16px;
}